:root {
  background-color: white;
  --grey-text-color: #767676;
  --dark-grey-text: #333;
  --green-theme-color: #04ddb2;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  float: right;
  padding: 25px 10px;
  font-size: 19px;
  color: var(--grey-text-color);
  cursor: pointer;
  font-weight: 500;
}
li:hover {
  color: var(--dark-grey-text);
  font-size: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  margin-left: 30px;
  margin-right: 30px;
}
.download-btn {
  margin-top: 19px;
  position: relative;
  width: 129px;
  padding: 10px 16px;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background-color: var(--green-theme-color);
  color: white;
  cursor: pointer;
}
.download-btn:hover {
  background-color: white;
  color: var(--green-theme-color);
}
